In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('car data.csv')

In [3]:
df.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [4]:
df.shape

(301, 9)

In [6]:
print(df['Seller_Type'].unique())
print(df['Transmission'].unique())
print(df['Owner'].unique())

['Dealer' 'Individual']
['Manual' 'Automatic']
[0 1 3]

In [8]:
## check missing or null values
df.isnull().sum()

Car_Name         0
Year             0
Selling_Price    0
Present_Price    0
Kms_Driven       0
Fuel_Type        0
Seller_Type      0
Transmission     0
Owner            0
dtype: int64

In [9]:
df.describe()

              Year  Selling_Price  Present_Price     Kms_Driven       Owner
count   301.000000     301.000000     301.000000     301.000000  301.000000
mean   2013.627907       4.661296       7.628472   36947.205980    0.043189
std       2.891554       5.082812       8.644115   38886.883882    0.247915
min    2003.000000       0.100000       0.320000     500.000000    0.000000
25%    2012.000000       0.900000       1.200000   15000.000000    0.000000
50%    2014.000000       3.600000       6.400000   32000.000000    0.000000
75%    2016.000000       6.000000       9.900000   48767.000000    0.000000
max    2018.000000      35.000000      92.600000  500000.000000    3.000000

In [12]:
! pip install seaborn

Requirement already satisfied: seaborn in c:\users\mizanur rahman\anaconda3\envs\carprice\lib\site-packages (0.11.2)
Requirement already satisfied: scipy>=1.0 in c:\users\mizanur rahman\anaconda3\envs\carprice\lib\site-packages (from seaborn) (1.7.1)
Requirement already satisfied: matplotlib>=2.2 in c:\users\mizanur rahman\anaconda3\envs\carprice\lib\site-packages (from seaborn) (3.4.3)
Requirement already satisfied: pandas>=0.23 in c:\users\mizanur rahman\anaconda3\envs\carprice\lib\site-packages (from seaborn) (1.3.2)
Requirement already satisfied: numpy>=1.15 in c:\users\mizanur rahman\anaconda3\envs\carprice\lib\site-packages (from seaborn) (1.21.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\mizanur rahman\anaconda3\envs\carprice\lib\site-packages (from matplotlib>=2.2->seaborn) (2.8.2)
Requirement already satisfied: pillow>=6.2.0 in c:\users\mizanur rahman\anaconda3\envs\carprice\lib\site-packages (from matplotlib>=2.2->seaborn) (8.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\mizanur rahman\anaconda3\envs\carprice\lib\site-packages (from matplotlib>=2.2->seaborn) (0.10.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\mizanur rahman\anaconda3\envs\carprice\lib\site-packages (from matplotlib>=2.2->seaborn) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\mizanur rahman\anaconda3\envs\carprice\lib\site-packages (from matplotlib>=2.2->seaborn) (1.3.1)
Requirement already satisfied: six in c:\users\mizanur rahman\anaconda3\envs\carprice\lib\site-packages (from cycler>=0.10->matplotlib>=2.2->seaborn) (1.16.0)
Requirement already satisfied: pytz>=2017.3 in c:\users\mizanur rahman\anaconda3\envs\carprice\lib\site-packages (from pandas>=0.23->seaborn) (2021.1)

In [15]:
import seaborn as sns

ModuleNotFoundError: No module named 'seaborn'